@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --scissors: hsl(39, 89%, 49%);
  --paper: hsl(230, 89%, 62%);
  --rock: hsl(349, 71%, 52%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background: hsl(214, 47%, 23%);
}

.body {
  background-color: var(--background);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  margin-inline: auto;
  padding: 30px 30px 55px;
  position: relative;
  text-transform: uppercase;
  width: 375px;
}

.body__header {
  margin-bottom: 100px;
}

.body__footer {
  align-self: center;
  margin-top: auto;
}

.body__rules {
  left: 0;
  position: fixed;
  top: 0;
}

.header {
  align-items: center;
  border: var(--header-outline) solid 5px;
  border-radius: 5px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
}

.header__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: .8;
}

.header__score {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: space-between;
  padding: 10px 25px 15px;
  width: 80px;
}

.header__score-title {
  color: var(--score-text);
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.header__score-value {
  color: var(--dark-text);
  font-size: 2.4rem;
  font-weight: 700;
}

.rps {
  --box-shadow-offset: 5px;
  aspect-ratio: 1;
  background-color: white;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  width: 130px;
}

.rps_rock {
  background-image: url(images/icon-rock.svg);
  border-color: var(--rock);
  box-shadow:
    0 var(--box-shadow-offset) hsl(349, 71%, 26%),
    0 var(--box-shadow-offset) #808080 inset;
}

.rps_paper {
  background-image: url(images/icon-paper.svg);
  border-color: var(--paper);
  box-shadow:
    0 var(--box-shadow-offset) hsl(230, 89%, 31%),
    0 var(--box-shadow-offset) #808080 inset;
}

.rps_scissors {
  background-image: url(images/icon-scissors.svg);
  border-color: var(--scissors);
  box-shadow:
    0 var(--box-shadow-offset) hsl(39, 89%, 25%),
    0 var(--box-shadow-offset) #808080 inset;
}

.rps_blank {
  background-color: #1a2946;
  border-color: var(--background);
}

.step-1 {
  background-image: url(images/bg-triangle.svg);
  background-position: 65px 65px;
  background-repeat: no-repeat;
  background-size: 185px 145px;
  display: grid;
  grid-template-areas:
    "paper scissors"
    "rock  rock    ";
  grid-template-columns: 130px 130px;
  grid-template-rows: 130px 130px;
  height: 275px;
  justify-items: center;
  place-content: space-between;
}

.step-1__rps {
  cursor: pointer;
}

.step-1__rps_rock {
  grid-area: rock;
}

.step-1__rps_paper {
  grid-area: paper;
}

.step-1__rps_scissors {
  grid-area: scissors;
}

.step-2 {
  justify-items: center;
  display: grid;
  grid-template-areas:
    "you      house   "
    "lose-win lose-win";
  grid-template-columns: 130px 130px;
  grid-template-rows: 180px 120px;
  height: 375px;
  place-content: space-between;
}

.step-2__you-house {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-2__title {
  font-size: 1rem;
  font-weight: 600;
  height: 15px;
  letter-spacing: .5px;
  order: 1;
}

.step-2__you-house_you {
  grid-area: you;
}

.step-2__lose-win {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: lose-win;
  justify-content: space-between;
}

.step-2__lose-win-title {
  font-size: 3.5rem;
  line-height: .7;
}

.step-2__play-again {
  border: none;
  border-radius: 10px;
  color: var(--dark-text);
  cursor: pointer;
  font: inherit;
  height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 220px;
}

.step-2__you-house_house {
  grid-area: house;
}

.footer__rules-button {
  background-color: transparent;
  border: white solid 1px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font: inherit;
  height: 40px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  width: 130px;
}

.rules {
  background-color: white;
  height: 100vh;
  padding: 100px 40px 65px;
  width: 100vw;
}

.rules__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.rules__title {
  color: var(--dark-text);
  font-size: 2rem;
  line-height: .8;
}

.rules__close {
  order: 1;
}

.rules__img {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .body {
    padding-block: 50px 30px;
    width: 100vw;
  }

  .body__header {
    margin: 0 auto 60px;
  }

  .body__step-1 {
    margin-inline: auto;
  }

  .body__step-2 {
    margin: 15px auto auto;
  }

  .body__footer {
    margin-left: auto;
  }

  .header {
    border-radius: 15px;
    border-width: 5px;
    height: 150px;
    padding: 15px 20px 15px 25px;
    width: 700px;
  }

  .header__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .header__score {
    border-radius: 10px;
    height: 100%;
    padding-block: 15px;
    width: 150px;
  }

  .header__score-title {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .header__score-value {
    font-size: 4rem;
    line-height: 1;
  }

  .rps_blank {
    border-width: 30px;
  }

  .step-1 {
    background-position: 100px 100px;
    background-size: 280px 225px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    height: 425px;
    width: 480px;
  }

  .step-1__rps {
    --box-shadow-offset: 10px;
    border-width: 20px;
    width: 200px;
  }

  .step-2 {
    display: flex;
    height: 375px;
  }

  .step-2__rps {
    --box-shadow-offset: 15px;
    border-width: 30px;
    width: 300px;
  }

  .step-2__you-house_you {
    margin-right: 80px;
  }

  .step-2__lose-win {
    justify-content: normal;
    margin-right: 55px;
  }

  .step-2__lose-win-title {
    margin-block: 170px 25px;
  }

  .step-2__step-2-blank {
    width: 300px;
  }

  .step-2__title {
    font-size: 1.5rem;
    letter-spacing: 3px;
    order: 0;
  }

  .rules {
    align-items: center;
    background-color: transparent;
    backdrop-filter: brightness(0.5);
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .rules__container {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
      "title close"
      "img   img  ";
    grid-template-columns: 1fr 20px;
    grid-template-rows: auto auto;
    height: 420px;
    padding: 40px 30px 30px;
    place-content: space-between;
    width: 400px;
  }

  .rules__title {
    grid-area: title;
  }

  .rules__close {
    grid-area: close;
  }

  .rules__img {
    grid-area: img;
    justify-self: center;
    margin: 0;
  }
}

.is-hidden {
  display: none;
}